.logo-icon {
  width: 40px;
  margin-right: 10px;
}
.bg-white {
  background-color: white;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  color: white;
  padding: 3px 0;
  z-index: 1000; /* Zajistí, že navbar bude nad ostatním obsahem */
}

.nav-link {
  font-size: 16px;
}
